<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallet</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <!-- Vue 3 -->
    <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js'></script>
    <title>LendInSync</title>
    <style>
        .card {
            background-color: #ddd5eb;
        }
        .navbar {
            background-color: #491549;
        }
        .card-deck-scroll {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            scrollbar-width: thin; /* Optional: Adjust scrollbar width */
            width: 100%; /* Ensures full width within the container */
        }

        .card {
            flex: 0 0 250px; /* Fixed width for each card */
            margin-right: 10px; /* Optional: Adjust the margin between cards */
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <!-- Add the navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">LendInSync</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="home.html">Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="loan.html">Loans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile.html">Profile</a>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div id = "wallet" v-cloak class = "container">
        <div class="row">
            <h2>My Wallets</h2>
        </div>
        <hr>
        <div class="row">
            <!-- Add the wallet cards -->
            <div class="col-md-12">
                <div class="card-deck-scroll">
                    <div class="card" v-for="wallet in customer_wallets">
                        <div class="card-body">
                            <h5 class="card-title" v-text="wallet.CurrencyCode"></h5>
                            <p class="card-text">
                                Amount: <span v-text="wallet.Amount"></span> <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div class="row my-3">
            <div class="col-6">
                <button class="btn btn-dark w-100 mb-3" data-bs-toggle="modal" data-bs-target="#createWalletModal" type="button">New Wallet</button>
            </div>
            <div class="col-6">
                <button class="btn btn-dark w-100 mb-3" data-bs-toggle="modal" data-bs-target="#transactionModal" type="button">New Transaction</button>
            </div>            
        </div>
        <br>
        <h2>My Transactions</h2>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Source Wallet</th>
                    <th>Destination Wallet</th>
                    <th>Amount</th>
                    <th>Exchange Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="transaction in customer_transactions">
                    <td v-text="transaction.TimeStamp"></td>
                    <td v-text="transaction.SourceWallet"></td>
                    <td v-text="transaction.DestinationWallet"></td>
                    <td v-text="transaction.AmountTransferred"></td>
                    <td v-text="transaction.ExchangeRate"></td>
                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="transactionModal" aria-hidden="true" aria-labelledby="transactionModalLabel" tabindex="-1" data-bs-backdrop="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="transactionModalLabel">Types of Transaction</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                    <div class="w-100 mb-2">
                        <button class="btn btn-secondary w-100" data-bs-target="#walletTransaction" data-bs-toggle="modal">Between Wallets</button>
                    </div>
                    <hr class="w-100 mb-2">
                    <div class="w-100 mb-2">
                        <button class="btn btn-secondary w-100" data-bs-target="#depositTransaction" data-bs-toggle="modal">Transact to Deposit Account</button>
                    </div>
                    <hr class="w-100 mb-2">
                    <div class="w-100">
                        <button class="btn btn-secondary w-100" data-bs-target="#withdrawTransaction" data-bs-toggle="modal">Transact from Deposit Account</button>
                    </div>
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="walletTransaction" aria-hidden="true" aria-labelledby="walletTransactionLabel" tabindex="-1" data-bs-backdrop="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="walletTransactionLavel">Transact between Wallets</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class = "container ">
                    <h2>Wallet Transaction</h2>
                    <hr>
                    <form>
                        <div class="form-group">
                            <label for="customerid">Customer ID:</label>
                            <input type="text" class="form-control" :value = customer_id disabled> 
                        </div>
                        <div class="form-group">
                            <label for="wallet">Source Wallet:</label>
                            <select class="form-control" @change="updateSourceAndCheck" v-model="sourcewallet">
                                <option v-for="wallet in availableSourceWallets" :value="wallet" v-text ="wallet.WID + '. ' + wallet.CurrencyCode + ' ' + wallet.Amount">
                                </option>
                            </select>                            
                        </div>
                    
                        <div class="form-group">
                            <label for="wallet">Destination Wallet:</label>
                            <select class="form-control" @change="updateSourceAndCheck" v-model="destinationwallet">
                                <option v-for="wallet in availableDestinationWallets" :value="wallet" v-text ="wallet.WID + '. ' + wallet.CurrencyCode + ' ' + wallet.Amount">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount transferred from source wallet:</label>
                            <input type="number" class="form-control" :value="wallet_amount" @input="updateAmount" step="0.1" min="0.1">
                        </div>
                        <div class="form-group">
                            <label for="exchange_rate">Exchange Rate:</label>
                            <input type="text" class="form-control" :value = exchange_rate disabled>
                        </div>
                        <button type="submit" class="btn btn-secondary btn-block" @click="createTransaction(WalletTransaction=true, $event)">Submit</button>
                    </form>
                    <div v-if = "errorsFound">
                        <hr>
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                <li v-for="error in validation_errors" v-text = "error"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#transactionModal" data-bs-toggle="modal">Go Back</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="depositTransaction" aria-hidden="true" aria-labelledby="depositTransactionLabel" tabindex="-1" data-bs-backdrop="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="walletTransactionLavel">Deposit Money</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class = "container ">
                        <h2>Transfer to Deposit Account</h2>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="customerid">Deposit Account:</label>
                                <input type="text" class="form-control" :value = deposit_account v-model = "destinationwallet" disabled> 
                            </div>
                            <div class="form-group">
                                <label for="currency">Source Wallet:</label>
                                <select class="form-control" v-model="sourcewallet" @change = "getExchangeRate(sourcewallet.CurrencyCode)">
                                    <option v-for="wallet in customer_wallets" :value="wallet" v-text ="wallet.WID + '. ' + wallet.CurrencyCode + ' ' + wallet.Amount">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="amount">Amount transferred from wallet:</label>
                                <input type="text" class="form-control" v-model="wallet_amount">
                            </div>
                            <div class="form-group">
                                <label for="exchange_rate">Exchange Rate:</label>
                                <input type="text" class="form-control" :value = exchange_rate disabled>
                            </div>
                            <button type="submit" class="btn btn-secondary btn-block" @click="createTransaction(WalletTransaction=false)">Submit</button>
                        </form>
                    </div>
                </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#transactionModal" data-bs-toggle="modal">Go Back</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="withdrawTransaction" aria-hidden="true" aria-labelledby="withdrawTransactionLabel" tabindex="-1" data-bs-backdrop="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="walletTransactionLavel">Deposit Money</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class = "container ">
                        <h2>Transfer to Deposit Account</h2>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="customerid">Source Account:</label>
                                <input type="text" class="form-control" :value = deposit_account v-model = "sourcewallet" disabled> 
                            </div>
                            <div class="form-group">
                                <label for="currency">Destination Wallet:</label>
                                <select class="form-control" v-model="destinationwallet" @change = "getExchangeRate(destinationwallet.CurrencyCode)">
                                    <option v-for="wallet in customer_wallets" :value="wallet" v-text ="wallet.WID + '. ' + wallet.CurrencyCode + ' ' + wallet.Amount">
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="amount">Amount transferred to wallet:</label>
                                <input type="text" class="form-control" v-model="wallet_amount">
                            </div>
                            <div class="form-group">
                                <label for="exchange_rate">Exchange Rate:</label>
                                <input type="text" class="form-control" :value = exchange_rate disabled>
                            </div>
                            <button type="submit" class="btn btn-secondary btn-block" @click="createTransaction(WalletTransaction=false)">Submit</button>
                        </form>
                    </div>
                </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#transactionModal" data-bs-toggle="modal">Go Back</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="createWalletModal" aria-hidden="true" aria-labelledby="createWalletModalLabel" tabindex="-1" data-bs-backdrop="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="createWalletModalLabel">Create Wallet</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                    <form>
                        <div class="form-group">
                            <label for="customerid">Customer ID:</label>
                            <input type="text" class="form-control" :value = customer_id disabled> 
                        </div>
                        <div class="form-group">
                            <label for="currency">Currency:</label>
                            <select v-model="selectedCurrency" class = "form-control" @change="getExchangeRate(selectedCurrency)">
                                <option v-for="currency in currency_info" :value="currency.CurrencyCode" v-text ="currency.CountryName + ' (' + currency.CurrencyCode + ')'">
                                </option>
                            </select>
                        </div>
                        <div class="form-group"> 
                            <label for="amount" class="form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" v-model="wallet_amount" step="0.1">
                        </div>
                        <div class="form-group">
                            <label for="exchange_rate">Exchange Rate:</label>
                            <input type="text" class="form-control" :value = exchange_rate disabled>
                        </div>
                        <button class="btn btn-secondary btn-block" @click="createWallet($event)">Submit</button>
                    </form>
                    <div v-if = "errorsFound">
                        <hr>
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                <li v-for="error in validation_errors" v-text = "error"></li>
                            </ul>
                        </div>
                    </div>
                </div>                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
        <div class="modal fade" id="successModal" aria-hidden="true" aria-labelledby="successModalLabel" tabindex="-1" data-bs-backdrop="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="successModalLabel">Success!</h1>
                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                    <h5>Successfully Created Wallet!</h5>
                </div>                    
              </div>
            </div>
        </div>
        <div class="modal fade" id="unsuccessfulModal" aria-hidden="true" aria-labelledby="unsuccessfulModalLabel" tabindex="-1" data-bs-backdrop="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="unsuccessfulModalLabel">Not Successful</h1>
                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                    <h5>Unfortunately, we are unable to create your wallet now, please try again later</h5>
                </div>                    
              </div>
            </div>
        </div>
        <div class="modal fade" id="successModalTransaction" aria-hidden="true" aria-labelledby="successModalTransactionLabel" tabindex="-1" data-bs-backdrop="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="successModalTransactionLabel">Success!</h1>
                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                    <h5>Successfully Created Transaction!</h5>
                </div>                    
              </div>
            </div>
        </div>
        <div class="modal fade" id="unsuccessfulModalTransaction" aria-hidden="true" aria-labelledby="uunsuccessfulModalTransactionLabel" tabindex="-1" data-bs-backdrop="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="unsuccessfulModalTransactionLabel">Not Successful</h1>
                </div>
                <div class="modal-body d-flex flex-column align-items-center">
                    <h5>Unfortunately, we are unable to facilitate your transaction at the moment, please try again later</h5>
                </div>                    
              </div>
            </div>
        </div>
    </div>
    <script>
        const customer_id = "A123456";
        const get_wallets_by_customerid = "http://127.0.0.1:7000/wallet/" + customer_id;
        const get_transactions_by_customerid = "http://127.0.0.1:8000/transaction/" + customer_id;
        const create_wallet = "http://127.0.0.1:7000/wallet";
        const create_transaction = "http://127.0.0.1:6100/transfer"
        const deposit_account = "0000010505"
        const deposit_account_balance = "40000"

        const wallet = Vue.createApp({
        data() {
            return {
            customer_wallets: [],
            customer_transactions: [],
            wallets_received: false,
            transactions_received: false,
            message: '', // Define a message property for error handling
            data_received: false,
            currency_info: [],
            selectedCurrency: "",
            customer_id: customer_id,
            deposit_account: deposit_account,
            wallet_amount: 0,
            exchange_rate: 0,
            sourcewallet: null,
            destinationwallet: null,
            availableDestinationWallets: [],
            availableSourceWallets: [],
            deposit_account_balance: deposit_account_balance,
            validation_errors: [],
            errorsFound: false,
            };
        },
        methods: {
            async get_wallets() {
            try {
                const response = await fetch(get_wallets_by_customerid);
                const data = await response.json();

                if (data.code === 404) {
                this.message = data.message;
                } else {
                this.customer_wallets = data.data.wallet; 
                this.wallets_received = true;
                this.availableSourceWallets = this.customer_wallets;
                this.availableDestinationWallets = this.customer_wallets;
                this.checkDataReceived();
                }
            } catch (error) {
                console.error('Error fetching wallets:', error);
                this.message = 'Error fetching wallet data: ' + error;
            }
            },
            async get_transactions() {
            try {
                const response = await fetch(get_transactions_by_customerid);
                const data = await response.json();

                if (data.code === 404) {
                this.message = data.message;
                } else {
                this.customer_transactions = data.data.transactions;
                this.transactions_received = true;
                this.checkDataReceived();
                }
            } catch (error) {
                this.message = 'Error fetching transaction data: ' + error;
            }
            },
            checkDataReceived() {
            if (this.wallets_received && this.transactions_received) {
                this.data_received = true;
            }
            },
            async getCurrencyCodes(){
                const response = await fetch('http://tbankonline.com/SMUtBank_API/Gateway?Header={"serviceName": "getCurrencyList", "userID": "", "PIN": "", "OTP": ""}&Content={"baseCurrency": "SGD", "quoteCurrency": "USD"}');
                const data = await response.json();
                this.currency_info = data.Content.ServiceResponse.CurrencyList.Currency;
            },
            async getExchangeRate(currency_code){
                const response = await fetch(`http://tbankonline.com/SMUtBank_API/Gateway?Header={"serviceName": "getExchangeRate", "userID": "", "PIN": "", "OTP": ""}&Content={"baseCurrency": "SGD", "quoteCurrency": "${currency_code}"}`);
                const data = await response.json();
                this.exchange_rate = data.Content.ServiceResponse["FX_SpotRate_Read-Response"]["Rate"];
            },
            updateSourceAndCheck() {
            this.updateSourceWallets();
            this.checkWalletsSelection();
            },
            checkWalletsSelection() {
                console.log("checking")
                if (this.sourcewallet && this.destinationwallet) {
                    console.log("checking!")
                    this.getWalletExchange();
                }
            },
            async getWalletExchange() {
                console.log("here");
                if (this.sourcewallet && this.destinationwallet) {
                    console.log("Both wallets have been selected");
                    const response = await fetch(`http://tbankonline.com/SMUtBank_API/Gateway?Header={"serviceName": "getExchangeRate", "userID": "", "PIN": "", "OTP": ""}&Content={"baseCurrency": "${this.sourcewallet.CurrencyCode}", "quoteCurrency": "${this.destinationwallet.CurrencyCode}"}`);
                    const data = await response.json();
                    console.log(data);
                    this.exchange_rate = data.Content.ServiceResponse["FX_SpotRate_Read-Response"]["Rate"];
                    console.log(this.exchange_rate);
                } else {
                    console.log("Both source and destination wallets need to be chosen.");
                }
            },    
            async createWallet(event) {
                event.preventDefault();
                this.validation_errors = []
                if (this.wallet_amount > this.deposit_account_balance) {
                    this.validation_errors.push("Insufficient funds in deposit account");
                }
                if (this.wallet_amount <= 0) {
                    this.validation_errors.push("Amount must be greater than 0");
                }
                if (this.selectedCurrency == "") {
                    this.validation_errors.push("Please select a currency");
                }
                if (this.validation_errors.length > 0) {
                    this.errorsFound = true
                    return;
                }
                else {
                    this.validation_errors = [];
                    this.errorsFound = false;
                    const jsonData = JSON.stringify({
                    CustomerId: this.customer_id,
                    CurrencyCode: this.selectedCurrency,
                    Amount: this.wallet_amount * this.exchange_rate
                });
            
                const url = create_wallet;
                const postMethod = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                };
            
                try {
                    const response = await fetch(url, postMethod);
                    const data = await response.json();
            
                    switch (data.code) {
                        case 201:
                            // Handle success case
                            console.log("Successfully created wallet");
                            // Close the createWalletModal
                            $('#createWalletModal').modal('hide');
                            // Show success modal
                            $('#successModal').modal('show');
                            // Reload page after a delay (you can change the delay as needed)
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000); // Example: Reload after 1 second (1000 milliseconds)
                            break;
                        case 500:
                            this.message = data.message;
                            // Close the createWalletModal
                            $('#createWalletModal').modal('hide');
                            // Show unsuccessful modal
                            $('#unsuccessfulModal').modal('show');
                            // Reload page after a delay (you can change the delay as needed)
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000); // Example: Reload after 1 seconds (1000 milliseconds)
                            break;
                        default:
                            throw `${data.code}: ${data.message}`;
                    }
                } catch (error) {
                    console.error('Error');
                }
                }
            },
            createTransaction(WalletTransaction, event) {
            event.preventDefault();
                if (WalletTransaction){
                    this.validation_errors = []
                    this.errorsFound = false;
                    if (this.wallet_amount > this.sourcewallet.Amount) {
                    this.validation_errors.push("Insufficient funds in source wallet");
                    }
                    if (this.wallet_amount <= 0 || this.wallet_amount == "") {
                    this.validation_errors.push("Amount must be greater than 0");
                    }
                    if (this.sourcewallet == null) {  
                    this.validation_errors.push("Please select a source wallet");
                    }
                    if (this.destinationwallet == null) {
                    this.validation_errors.push("Please select a destination wallet");
                    }
                    if (this.validation_errors.length > 0) {
                    this.errorsFound = true
                    return;
                    }
                    else {
                        this.walletWalletTransaction()
                    }
                }
                else if (WalletTransaction == false && this.sourcewallet == deposit_account) {
                    this.validation_errors = []
                    this.errorsFound = false;
                    if (this.wallet_amount > this.deposit_account_balance) {
                    this.validation_errors.push("Insufficient funds in deposit account");
                    }
                    if (this.wallet_amount <= 0 || this.wallet_amount == "") {
                    this.validation_errors.push("Amount must be greater than 0");
                    }
                    if (this.destinationwallet == null) {
                    this.validation_errors.push("Please select a destination wallet");
                    }
                    if (this.validation_errors.length > 0) {
                    this.errorsFound = true
                    return;
                    }
                    else {
                        this.withdrawWalletTransaction()
                    }
                }
                else {
                    this.validation_errors = []
                    this.errorsFound = false;
                    if (this.wallet_amount > this.sourcewallet.Amount) {
                    this.validation_errors.push("Insufficient funds in source wallet");
                    }
                    if (this.wallet_amount <= 0 || this.wallet_amount == "") {
                    this.validation_errors.push("Amount must be greater than 0");
                    }
                    if (this.destinationwallet == null) {
                    this.validation_errors.push("Please select a destination wallet");
                    }
                    if (this.validation_errors.length > 0) {
                    this.errorsFound = true
                    return;
                    }
                    else {
                    this.depositWalletTransaction()
                    }
                }
            },
            async walletWalletTransaction() {
                const currentDate = new Date();  // Your new Date() object
                // Format the date as a string in the desired MySQL DATETIME format
                const formattedDate = currentDate.toISOString().slice(0, 19).replace('T', ' ');
                const jsonData = JSON.stringify({
                    "SourceWallet": this.sourcewallet.WID,
                    "DestinationWallet": this.destinationwallet.WID,
                    "CustomerId": this.customer_id,
                    "WalletTransaction": true,
                    "ExchangeRate": this.exchange_rate,
                    "TimeStamp": formattedDate,
                    "AmountTransferred": this.wallet_amount * this.exchange_rate
                    });
                    const url = create_transaction;
                    const postMethod = {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: jsonData
                };
            
                try {
                    const response = await fetch(url, postMethod);
                    const data = await response.json();
                    console.log(data)
                    switch (data.code) {
                        case 201:
                            // Handle success case
                            // Close the createWalletModal
                            $('#walletTransaction').modal('hide');
                            // Show success modal
                            $('#successModalTransaction').modal('show');
                            // Reload page after a delay (you can change the delay as needed)
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000); // Example: Reload after 1 second (1000 milliseconds)
                            break;
                        case 500:
                            this.message = data.message;
                            // Close the createWalletModal
                            $('#walletTransaction').modal('hide');
                            // Show unsuccessful modal
                            $('#unsuccessfulModalTransaction').modal('show');
                            // Reload page after a delay (you can change the delay as needed)
                            setTimeout(() => {
                                window.location.reload();
                            }, 2000); // Example: Reload after 1 seconds (1000 milliseconds)
                            break;
                        default:
                            throw `${data.code}: ${data.message}`;
                    }
                } 
                catch (error) {
                    console.error('Error:', error);
                    // Handle other errors or display a general error message
                }
            },
            async depositWalletTransaction() {
                const currentDate = new Date();  // Your new Date() object
                // Format the date as a string in the desired MySQL DATETIME format
                const formattedDate = currentDate.toISOString().slice(0, 19).replace('T', ' ');
                const jsonData = JSON.stringify({
                SourceWallet: this.sourcewallet.WID,
                DestinationWallet: null,
                CustomerId: this.customer_id,
                WalletTransaction: false,
                ExchangeRate: this.exchange_rate,
                "TimeStamp": formattedDate,
                AmountTransferred: this.wallet_amount * this.exchange_rate
                });

                const url = create_transaction;
                const postMethod = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                };
            
                try {
                    const response = await fetch(url, postMethod);
                    const data = await response.json();
                    console.log(data)
                    switch (data.code) {
                        case 201:
                            // Handle success case
                            // Close the createWalletModal
                            $('#walletTransaction').modal('hide');
                            // Show success modal
                            $('#successModalTransaction').modal('show');
                            // Reload page after a delay (you can change the delay as needed)
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000); // Example: Reload after 1 second (1000 milliseconds)
                            break;
                        case 500:
                            this.message = data.message;
                            // Close the createWalletModal
                            $('#walletTransaction').modal('hide');
                            // Show unsuccessful modal
                            $('#unsuccessfulModalTransaction').modal('show');
                            // Reload page after a delay (you can change the delay as needed)
                            setTimeout(() => {
                                window.location.reload();
                            }, 2000); // Example: Reload after 1 seconds (1000 milliseconds)
                            break;
                        default:
                            throw `${data.code}: ${data.message}`;
                    }
                } 
                catch (error) {
                    console.error('Error:', error);
                    // Handle other errors or display a general error message
                }
            },
            async withdrawWalletTransaction() {
                const currentDate = new Date();  // Your new Date() object
                // Format the date as a string in the desired MySQL DATETIME format
                const formattedDate = currentDate.toISOString().slice(0, 19).replace('T', ' ');
                const jsonData = JSON.stringify({
                SourceWallet: null,
                DestinationWallet: this.destinationwallet.WID,
                CustomerId: this.customer_id,
                WalletTransaction: false,
                ExchangeRate: this.exchange_rate,
                TimeStamp: formattedDate,
                AmountTransferred: this.wallet_amount * this.exchange_rate
                });
                const url = create_transaction;
                const postMethod = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                };
                try {
                    const response = await fetch(url, postMethod);
                    const data = await response.json();
                    console.log(data)
                    switch (data.code) {
                        case 201:
                            // Handle success case
                            // Close the createWalletModal
                            $('#walletTransaction').modal('hide');
                            // Show success modal
                            $('#successModalTransaction').modal('show');
                            // Reload page after a delay (you can change the delay as needed)
                            setTimeout(() => {
                                window.location.reload();
                            }, 1000); // Example: Reload after 1 second (1000 milliseconds)
                            break;
                        case 500:
                            this.message = data.message;
                            // Close the createWalletModal
                            $('#walletTransaction').modal('hide');
                            // Show unsuccessful modal
                            $('#unsuccessfulModalTransaction').modal('show');
                            // Reload page after a delay (you can change the delay as needed)
                            setTimeout(() => {
                                window.location.reload();
                            }, 2000); // Example: Reload after 1 seconds (1000 milliseconds)
                            break;
                        default:
                            throw `${data.code}: ${data.message}`;
                    }
                } 
                catch (error) {
                    console.error('Error:', error);
                    // Handle other errors or display a general error message
                }
            },
            updateDestinationWallets() {
            if (this.sourcewallet) {
                this.availableDestinationWallets = this.customer_wallets.filter(wallet => wallet.WID !== this.sourcewallet.WID);
            } else {
                this.availableDestinationWallets = this.customer_wallets;
            }
            },
            updateSourceWallets() {
                if (this.destinationwallet) {
                    this.availableSourceWallets = this.customer_wallets.filter(wallet => wallet.WID !== this.destinationwallet.WID);
                } else {
                    this.availableSourceWallets = this.customer_wallets;
                }
            },
            updateAmount(event) {
            // Update the wallet_amount when the input changes
            const value = parseFloat(event.target.value);
            this.wallet_amount = isNaN(value) || value < 0 ? 0.1 : value;
        }},
        mounted() {
            this.get_wallets();
            this.get_transactions();
            this.getCurrencyCodes();
        },
        });
        const vm = wallet.mount('#wallet');
    </script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>
