<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Loan Management</title>  
</head>
<body>
    <ul class="nav nav-pills nav-fill mb-3 " id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-borrowedloans-tab" data-bs-toggle="pill" data-bs-target="#pills-borrowedloans" type="button" role="tab" aria-controls="pills-borrowedloans" aria-selected="true">Borrowed Loans</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-lentloans-tab" data-bs-toggle="pill" data-bs-target="#pills-lentloans" type="button" role="tab" aria-controls="pills-lentloans" aria-selected="false">Lent Loans</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-borrowedloans" role="tabpanel" aria-labelledby="pills-borrowedloans-tab" tabindex="0">Borrowed Loans Content</div>
        <div class="tab-pane fade" id="pills-lentloans" role="tabpanel" aria-labelledby="pills-lentloans-tab" tabindex="0">Lent Loans Content</div>
      </div>
</body>
</html>