<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Marketplace</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/DBEAT1/lendinsync/assets/img/favicon.jpg" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/DBEAT1/lendinsync/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/DBEAT1/lendinsync/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/DBEAT1/lendinsync/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/DBEAT1/lendinsync/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/DBEAT1/lendinsync/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/DBEAT1/lendinsync/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/DBEAT1/lendinsync/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Vue 3 -->
    <script src='https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js'></script>

    <!-- Template Main CSS File -->
    <link href="/DBEAT1/lendinsync/assets/css/style.css" rel="stylesheet">



    <style>
        .card {
            background-color: #c0d0fa;
        }

        .card-deck-scroll {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            scrollbar-width: thin;
            /* Optional: Adjust scrollbar width */
            width: 100%;
            /* Ensures full width within the container */
        }

        .card {
            flex: 0 0 250px;
            /* Fixed width for each card */
            margin-right: 10px;
            /* Optional: Adjust the margin between cards */
        }

        [v-cloak] {
            display: none;
        }
    </style>

    <!-- =======================================================
    * Template Name: OnePage
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <div>
                <img src="/DBEAT1/lendinsync/assets/img/favicon.jpg" width="50" height="50"
                    style="display: inline-block;">
                <h1 class="logo" style="display: inline-block;"><a href="/home">LendInSync</a></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="/home">Home</a></li>
                    <li><a class="nav-link scrollto" href="/wallet">Wallets</a></li>
                    <li><a class="nav-link scrollto active" href="/marketplace">Marketplace</a></li>
                    <li><a class="nav-link scrollto" href="/my_loans">My Loans</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Create Application
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/loan/borrowing/">Create Borrow Application</a></li>
                            <li><a class="dropdown-item" href="/loan/lending/">Create Lending Application</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="/profile">Profile</a></li>
                    <li><a class="nav-link scrollto" href="/" onclick="logout()">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->
    <br>
    <br>
    <br>
    <main id="loan">
        <div class="container mt-4" id="loan">
            <!-- Bootstrap Tabs -->
            <ul class="nav nav-tabs" id="myTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab"
                        aria-controls="tab1" aria-selected="true">Available Loans Requested</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
                        aria-selected="false">Available Loans to borrow from</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabsContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Loan ID</th>
                                <th scope="col">Loan Amount</th>
                                <th scope="col">Currency</th>
                                <th scope="col">Term (Days)</th>
                                <th scope="col">Collateral</th>
                                <th scope="col">Interest Rate (%)</th>
                                <th scope="col">Repayment Amount</th>
                                <th scope="col">Application</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(loan, index) in filteredBorrowedLoans" :key="index">
                                <td v-text="index + 1"></td>
                                <td v-text="loan.LoanId"></td>
                                <td v-text="loan.LoanAmount"></td>
                                <td v-text="loan.CurrencyCode"></td>
                                <td v-text="loan.LoanTerm"></td>
                                <td v-text="loan.CollateralAmount"></td>
                                <td>
                                    <input type="number" v-model="interestRate">
                                </td>
                                <td v-text="calculateRepaymentAmount(loan.LoanAmount, interestRate, loan.LoanTerm, loan.ServiceFee)"></td>
                                <td>
                                    <button class="btn btn-primary" @click="lendnow_application(loan.LoanId, loan.LoanAmount, loan.LoanTerm, loan.CollateralAmount, loan.ServiceFee)">
                                        Lend Now
                                    </button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Loan ID</th>
                                <th scope="col">Invested Amount</th>
                                <th scope="col">Currency</th>
                                <th scope="col">Interest Rate</th>
                                <th scope="col">Term</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(loan, index) in filteredLentLoans" :key="index">
                                <td v-text="index + 1"></td>
                                <td v-text="loan.LoanId"></td>
                                <td v-text="loan.InvestmentAmount"></td>
                                <td v-text="loan.CurrencyCode"></td>
                                <td v-text="loan.InterestRate"></td>
                                <td v-text="loan.LoanTerm"></td>
                                <td>
                                    <button class="btn btn-primary" @click="borrownow_application(loan.LoanId, loan.InvestmentAmount, loan.LoanTerm, loan.InterestRate, loan.ServiceFee)">
                                        Borrow Now
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="container d-md-flex py-4">
            <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>LendInSync</span></strong>. All Rights Reserved
                </div>
                <div class="credits">
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>
    </footer><!-- End Footer -->
    <!-- Vendor JS Files -->
    <script src="/DBEAT1/lendinsync/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/DBEAT1/lendinsync/assets/vendor/aos/aos.js"></script>
    <script src="/DBEAT1/lendinsync/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/DBEAT1/lendinsync/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/DBEAT1/lendinsync/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/DBEAT1/lendinsync/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/DBEAT1/lendinsync/assets/vendor/php-email-form/validate.js"></script>

    <script src="/DBEAT1/lendinsync/assets/js/main.js"></script>
    <script>
        const customer_id = localStorage.getItem('username');
        console.log(customer_id);
        const get_all_borrowed_loans = "http://localhost:5001/loan/borrowing";
        const get_all_lent_loans = "http://localhost:5001/loan/lending";

        const loan = Vue.createApp({
            data() {
                return {
                    borrowed_loans: [],
                    lent_loans: [],
                    message: "",
                    loan_amount: 0,
                    collateral_amount: 0,
                    investment_amount: 0,
                    loan_term: 0,
                    currency_info: [],
                    selectedCurrency: "",
                    exchange_rate: 0,
                    interest_rate: 0,
                    service_fee: 0,
                    repayment_amount: 0,
                    StatusLevel: "",
                    borrowing_service_fee: 0,
                    lending_service_fee: 0,
                    validation_errors: [],
                    errorsFound: false,
                    interestRate: 0
                };
            },
            mounted() {
                // Fetch the borrowed loans data
                fetch('http://localhost:5001/loan/borrowing')
                    .then(response => response.json())
                    .then(data => {
                        borrowed_loans = data;

                    })
                    .catch(error => {
                        console.error('Error fetching borrowed loans:', error);
                    });

                // Fetch the lent loans data
                fetch('http://localhost:5001/loan/lending')
                    .then(response => response.json())
                    .then(data => {
                        lent_loans = data;
                    })
                    .catch(error => {
                        console.error('Error fetching lent loans:', error);
                    });
            },
            computed: {

                repaymentAmount() {
                    if (!isNaN(this.interestRate)) {
                        return this.calculateRepaymentAmount(this.loan_amount, this.interestRate, this.loan_term, this.service_fee);
                    } else {
                        return 0; // Return 0 if interestRate is not a valid number
                    }
                },

                filteredBorrowedLoans() {
                    return this.borrowed_loans.filter(loan => loan.CustomerId !== customer_id && loan.OtherPartyId !== customer_id);

                },
                filteredLentLoans() {
                    return this.lent_loans.filter(loan => loan.CustomerId !== customer_id && loan.OtherPartyId !== customer_id);
                },
                total_interest_amount() {
                    const totalInterest = parseFloat(this.investment_amount) * (this.interest_rate / 100) * (this.loan_term / 365);
                    return parseFloat(totalInterest.toFixed(2)); // Round to 2 decimal places
                },
                revenue() {
                    const investmentAmount = parseFloat(this.investment_amount);
                    const revenue = this.total_interest_amount + investmentAmount;
                    return parseFloat(revenue.toFixed(2)); // Round to 2 decimal places
                },
            },
            methods: {

                async get_all_borrowed_loans() {
                    try {
                        const response = await fetch(get_all_borrowed_loans);
                        const data = await response.json();

                        if (data.code === 404) {
                            this.message = data.message;
                        } else {
                            this.borrowed_loans = data.data.loans;
                        }
                    } catch (error) {
                        this.message = "Error fetching all borrowed loans: " + error;
                    }
                },

                calculateRepaymentAmount(loanAmount, interestRate, loanTerm, serviceFee) {
                    // Convert input values to numbers
                    const amount = parseFloat(loanAmount);
                    const rate = parseFloat(interestRate);
                    const term = parseFloat(loanTerm);
                    const fee = parseFloat(serviceFee);

                    // console.log(amount, rate, term, fee);

                    if (isNaN(amount) || isNaN(rate) || isNaN(term) || isNaN(fee)) {
                        return 0; // Return 0 or an appropriate value if any of the inputs are not valid numbers
                    }

                    // Calculate repayment amount based on loan amount, interest rate, loan term (in days), and service fee
                    const dailyInterestRate = rate / 100 / 365; // Convert annual rate to daily rate
                    const repaymentAmount = (dailyInterestRate * term * amount) + amount + fee;
                    console.log("Repayment Amount:", repaymentAmount);
                    return repaymentAmount.toFixed(2);
                },
                async get_all_lent_loans() {
                    try {
                        const response = await fetch(get_all_lent_loans);
                        const data = await response.json();

                        if (data.code === 404) {
                            this.message = data.message;
                        } else {
                            this.lent_loans = data.data.loans;
                        }
                    } catch (error) {
                        this.message = "Error fetching all lent loans: " + error;
                    }
                },
                async lendnow_application(loanId, loanAmount, loanTerm, collateralAmount, ServiceFee) {
                    event.preventDefault();


                    // Calculate the repayment amount using calculateRepaymentAmount
                    const repaymentAmount = this.calculateRepaymentAmount(loanAmount, this.interestRate, loanTerm, this.service_fee);
                    // Make sure "this" refers to the Vue instance
                    const interestRate = parseFloat(this.interestRate);
                    const currentDate = new Date().toISOString();
                    const endDate = new Date(currentDate);
                    endDate.setDate(endDate.getDate() + loanTerm); // Add loanTerm days to the current date
                    const formattedEndDate = endDate.toISOString();
                    // Update the API URL
                    const baseURL = 'http://127.0.0.1:5001';

                    try {
                        const response = await fetch(`${baseURL}/loan/update/${loanId}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                InterestRate: interestRate,
                                RepaymentAmount: repaymentAmount + ServiceFee,
                                OtherPartyId: customer_id,
                                StartDate: currentDate,
                                EndDate: formattedEndDate,
                                TotalInterestAmount : repaymentAmount - loanAmount,
                                StatusLevel : "BMatch",
                            }),
                        });

                        if (response.status === 200) {
                            console.log('Loan updated successfully');
                            // Reload the page after successful loan update
                            location.reload();
                        } else {
                            console.error('Error updating loan');
                        }
                    } catch (error) {
                        console.error('Network error:', error);
                    }
                },



                async borrownow_application(loanId, InvestmentAmount,LoanTerm, InterestRate , ServiceFee) {
                    event.preventDefault();

                    loanAmount = InvestmentAmount;
                    const repaymentAmount = this.calculateRepaymentAmount(loanAmount, InterestRate, LoanTerm, ServiceFee);
                    
                    // Make sure "this" refers to the Vue instance
                    const interestRate = parseFloat(this.interestRate);
                    const currentDate = new Date().toISOString();
                    const endDate = new Date(currentDate);
                    endDate.setDate(endDate.getDate() + LoanTerm); // Add loanTerm days to the current date
                    const formattedEndDate = endDate.toISOString();
                    // Update the API URL
                    const baseURL = 'http://127.0.0.1:5001';

                    try {
                        const response = await fetch(`${baseURL}/loan/update/${loanId}`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                OtherPartyId: customer_id,
                                StartDate: currentDate,
                                EndDate: formattedEndDate,
                                RepaymentAmount: repaymentAmount + ServiceFee,
                                StatusLevel : "LMatch",
                            }),
                        });

                        if (response.status === 200) {
                            console.log('Loan updated successfully');
                            // Reload the page after successful loan update
                            location.reload();
                        } else {
                            console.error('Error updating loan');
                        }
                    } catch (error) {
                        console.error('Network error:', error);
                    }
                },





            },
            created() {
                this.get_all_borrowed_loans(); // Fetch all borrowed loans
                this.get_all_lent_loans();     // Fetch all lent loans
            },
        });

        const vm = loan.mount('#loan');

    </script>



    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>









</body>

</html>